<!DOCTYPE html>
<html>
    <head>
        <title>Your registration was successful!</title>
    </head>
    <body>
        <h1>Hello <%= firstName %>, Thank you for signing up to Zeta!</h1>
        <p>You can initiate a transcation or create a budget here</p>
    </body>
</html>